@use '../../assets/styles/variables' as vars;

.auth-page {
  background-color: vars.$beige-100;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media(min-width: vars.$breakpoint-lg) {
    padding: vars.$space-md-plus;
    flex-direction: row;
    gap: vars.$space-md-plus;
  }

  .auth-form {
    padding: vars.$space-lg vars.$space-md-plus;
    background-color: vars.$white;
    border-radius: 12px;
    width: 560px;

    @media(min-width: vars.$breakpoint-sm) {
      padding: vars.$space-xl;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: vars.$space-md;
      margin-bottom: vars.$space-xl;

      &.error {
        margin-bottom: vars.$space-md
      }
    }

    &__errors-container {
      margin-bottom: vars.$space-md;
      color: vars.$red;
    }

    h1 {
      margin-bottom: vars.$space-xl;
      color: vars.$gray-900;
    }

    &__submit {
      width: 100%;
      margin-bottom: vars.$space-xl;
      display: flex;
      align-items: center;
      justify-content: center;

      &.is-pending {
        padding-top: 0;
        padding-bottom: 0;
        height: 55px;
      }
    }

    &__option {
      color: vars.$gray-500;
      text-align: center;

      button {
        background-color: transparent;
        text-decoration: underline;
        border: none;
        color: vars.$gray-900;
        cursor: pointer;
        margin-left: vars.$space-xxs;
      }
    }
  }

  &__illustration {
    display: flex;
    justify-content: center;
    background: vars.$gray-900;
    border-radius: 0 0 8px 8px;
    max-width: 100%;
    height: max-content;
    padding: vars.$space-lg;

    @media(min-width: vars.$breakpoint-lg) {
      background: url("../../assets/images/auth/illustration.svg") no-repeat center;
      flex-direction: column;
      justify-content: space-between;
      padding: vars.$space-md;
      align-items: start;
      border-radius: 12px;
      height: 100%;
      max-width: 560px;
    }

    @media(min-width: vars.$breakpoint-xl) {
      padding: vars.$space-2xl;
    }

    &--text {
      color: white;
      display: none;

      @media(min-width: vars.$breakpoint-lg) {
        display: block;
      }

      h2 {
        margin-bottom: vars.$space-lg;
      }
    }
  }

  &__form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 vars.$space-md;

    @media(min-width: vars.$breakpoint-lg) {
      margin: 0;
    }
  }
}