@use '../../assets/styles/variables' as vars;

.sidebar {
  background-color: vars.$gray-900;
  width: 100%;
  min-height: 52px;
  border-radius: 16px 16px 0 0;
  padding: vars.$space-xs vars.$space-md 0 vars.$space-md;
  display: flex;
  flex-direction: column-reverse;
  transition: width 0.3s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;

  @media(min-width: 450px) {
    flex-direction: row;
  }

  @media(min-width: vars.$breakpoint-sm) {
    height: 74px;
  }

  @media(min-width: 900px) {
    padding: vars.$space-xs vars.$space-2xl 0 vars.$space-2xl;
  }

  @media(min-width: 1250px) {
    width: 300px;
    position: static;
    flex-direction: column;
    padding: vars.$space-2xl vars.$space-lg 0 0;
    min-height: 100%;
    border-radius: 0 16px 16px 0;
  }

  &--minimized {
    width: 100%;

    @media(min-width: 1250px) {
      padding: vars.$space-2xl vars.$space-xs 0 0;
      width: 88px;
    }


    .sidebar__minimize-btn {
      img {
        transform: rotate(180deg);
        margin-right: 0;
      }
    }

    .sidebar__nav-link {
      width: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media(min-width: 850px) {
        width: 104px;
      }

      @media(min-width: 1250px) {
        width: 100%;
        justify-content: unset;
        flex-direction: row;
      }

      img {
        margin-right: 0;

        @media(min-width: 850px) {
          margin-bottom: 8px;
        }

        @media(min-width: 1250px) {
          margin-bottom: 0;
        }
      }
    }

    .sidebar__nav-label {
      font-size: vars.$text-5-size;
      line-height: vars.$text-5-line-height;
      font-weight: vars.$text-5b-weight;

      @media(min-width: 1250px) {
        display: none !important;
      }
    }


    .sidebar__logout-btn {
      width: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: vars.$space-xs 0 vars.$space-sm 0;

      @media(min-width: 850px) {
        width: 104px;
      }

      @media(min-width: 1250px) {
        width: 100%;
        justify-content: unset;
        flex-direction: row;
        padding: vars.$space-md vars.$space-xl;
      }

      img {
        margin-right: 0;

        @media(min-width: 850px) {
          margin-bottom: 8px;
        }

        @media(min-width: 1250px) {
          margin-bottom: 0;
        }
      }

      span {
        font-size: vars.$text-5-size;
        line-height: vars.$text-5-line-height;
        font-weight: vars.$text-5b-weight;

        @media(min-width: 1250px) {
          display: none !important;
        }
      }
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
    flex: 2;
    justify-content: center;

    @media(min-width: vars.$breakpoint-sm) {
      gap: vars.$space-lg;
    }

    @media(min-width: 850px) {
      gap: 42px;
    }

    @media(min-width: 1250px) {
      display: block;
    }
  }

  &__header {
    margin-bottom: 64px;
    padding-left: vars.$space-xl;
    display: none;

    @media(min-width: 1250px) {
      display: block;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;

    @media(min-width: 450px) {
      display: unset;
      margin-left: auto;
    }

    @media(min-width: 1250px) {
      margin-top: auto;
      margin-bottom: 60px;
      margin-left: 0;
    }
  }

  &__minimize-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: vars.$space-md vars.$space-xl;
    color: vars.$gray-300;
    border: 0;
    cursor: pointer;
    height: 56px;
    width: 100%;
    transition: width 0.3s ease;

    span {
      white-space: nowrap;
      overflow: hidden;
    }

    img {
      margin-right: vars.$space-md;
    }
  }

  &__logout-btn {
    color: vars.$red;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    height: 100%;
    cursor: pointer;

    @media(min-width: 1250px) {
      margin-top: vars.$space-md;
      height: 56px;
      padding: vars.$space-md vars.$space-xl;
    }

    img {
      width: 20px;
      height: 20px;
      transform: rotate(-180deg);
      filter: brightness(0) saturate(100%) invert(29%) sepia(59%) saturate(1224%) hue-rotate(330deg) brightness(107%) contrast(93%);

      @media(min-width: 1250px) {
        margin-right: vars.$space-md;
      }
    }

    span {
      display: none;

      @media(min-width: 850px) {
        display: block;
      }
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: vars.$gray-300;
    position: relative;
    height: 100%;
    transition: width 0.3s ease;
    padding: vars.$space-xs 0 vars.$space-sm 0;

    @media(min-width: 1250px) {
      height: 56px;
      width: 100%;
      padding: vars.$space-md vars.$space-xl;
    }

    .sidebar__nav-label {
      white-space: nowrap;
      overflow: hidden;
      display: none;

      @media(min-width: 850px) {
        display: block;
      }
    }

    img {
      margin-right: vars.$space-md;
    }

    &.active {
      background-color: vars.$beige-100;
      border-radius: 12px 12px 0 0;
      font-weight: bold;
      color: vars.$gray-900;
      border-bottom: 4px solid vars.$green;
      padding-bottom: vars.$space-xs;

      @media(min-width: 1250px) {
        border-radius: 0 12px 12px 0;
        border-left: 4px solid vars.$green;
        padding-left: vars.$space-lg-plus;
        padding-bottom: vars.$space-md;
        border-bottom: 0;
      }

      img {
        filter: brightness(0) saturate(100%) invert(37%) sepia(11%) saturate(2424%) hue-rotate(128deg) brightness(104%) contrast(83%);
      }
    }
  }
}