@use '../../assets/styles/variables' as vars;

.input-group {
  display: flex;
  flex-direction: column;
  gap: vars.$space-xxs;

  label {
    color: vars.$gray-500;

    &.input-error {
      color: vars.$red;
    }
  }

  &__wrapper {
    position: relative;

    &--control {
      width: 100%;
      border-radius: 8px;
      outline: none;
      border: 1px solid vars.$beige-500;
      padding: vars.$space-sm vars.$space-md-plus;
      color: vars.$gray-900;
      font-size: vars.$text-4-size;
      line-height: vars.$text-4-line-height;
      font-weight: vars.$text-4-weight;

      &.input-error {
        border-color: vars.$red;
      }

      &:hover {
        border-color: vars.$gray-500;
      }

      &:active {
        border-color: vars.$gray-900;
      }

      &.is-password {
        padding-right: vars.$space-2xl
      }
    }

    &--toggle {
      width: 16px;
      height: 16px;
      position: absolute;
      cursor: pointer;
      right: vars.$space-md;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &--helper {
      color: vars.$gray-500;
      text-align: right;
    }
  }
}