@use '../../assets/styles/variables' as vars;

.transactions-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  .loading {
    text-align: center;

    td {
      border-bottom: 0 !important;
      padding: 0 !important;
    }

    span {
      display: inline-block !important;
    }
  }

  .error-desktop {
    text-align: center;
    color: vars.$red;

    td {
      border-bottom: 0 !important;
      padding: 0 !important;
      font-weight: 400;
    }
  }

  &__heading {
    margin-bottom: vars.$space-xl;
    color: vars.$gray-900;
  }


  &__container {
    padding: vars.$space-md-plus;
    background-color: vars.$white;
    border-radius: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media(min-width: 810px) {
      padding: vars.$space-xl;
    }

    .input-group {
      width: 320px;
      max-width: 100%;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    gap: vars.$space-lg;
    margin-bottom: vars.$space-lg;


    &--selects {
      display: flex;
      align-items: center;
      gap: vars.$space-lg;

      & > div {
        display: flex;
        align-items: center;
        gap: vars.$space-xs;

        span,
        .select-group {
          display: none;

          @media(min-width: 810px) {
            display: unset;
          }
        }

        .mobile-category {
          .dropdown-options-list {
            width: 177px;
          }
        }

        .mobile-sort {
          .dropdown-options-list {
            width: 113px;
          }
        }

        .mobile-filter {
          display: block;

          &__button {
            background-color: transparent;
            border: 0;
            cursor: pointer;

            img {
              width: 20px;
              height: 20px;
            }
          }

          .dropdown-options-list {
            top: 2rem;
            right: 0;
          }

          @media(min-width: 810px) {
            display: none;
          }
        }


        span {
          color: vars.$gray-500;
          white-space: nowrap;
        }
      }

      & > div:nth-of-type(1) {
        .select-group {
          .dropdown-wrapper {
            width: 113px;
          }
        }
      }

      & > div:nth-of-type(2) {
        .select-group {
          .dropdown-wrapper {
            min-width: 177px;
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    overflow-y: auto;

    &-wrapper {
      flex-grow: 1;
      overflow-y: auto;
      min-height: 0;
    }

    thead {
      th {
        padding: vars.$space-sm vars.$space-md;
        border-bottom: 1px solid vars.$gray-100;
        color: vars.$gray-500;
        margin-bottom: vars.$space-xl-plus;
        text-align: left;
      }

      th:last-child {
        text-align: right;
      }
    }

    tbody {
      width: 100%;

      .empty-message-desktop {
        text-align: center;
        font-weight: 400;
        color: vars.$gray-900;
        padding: 0 !important;
      }

      .recipient-sender {
        display: flex;
        align-items: center;
        gap: vars.$space-md;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .category,
      .date {
        color: vars.$gray-500;
      }

      .amount {
        &-income,
        &-expense {
          text-align: right;
        }

        &-income {
          color: vars.$green;
        }

        &-expense {
          color: vars.$gray-900;
        }
      }

      tr:first-child {
        td {
          padding-top: vars.$space-lg;
        }
      }

      tr:not(:last-child) td {
        border-bottom: 1px solid vars.$gray-100;
      }

      td {
        padding: vars.$space-md;
      }

      tr:last-child td {
        padding-bottom: 0;
      }
    }
  }

  .pagination {
    padding-top: 48px;
    margin-top: auto;
  }

  .error-message,
  .empty-message {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mobile-view__status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .mobile-transactions-list {
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }

    .mobile-transaction-item {
      padding: vars.$space-md 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      &__name,
      &__amount {
        color: vars.$gray-900;
      }

      &__category,
      &__date {
        color: vars.$gray-500;
      }

      &__amount {
        &.amount-income {
          color: vars.$green;
        }

        &.amount-expense {
          color: vars.$gray-900;
        }
      }

      &__details {
        display: flex;
        align-items: center;
        gap: vars.$space-xs;

        div {
          display: flex;
          flex-direction: column;
          gap: vars.$space-xxs;
        }
      }

      &__amount-details {
        display: flex;
        flex-direction: column;
        gap: vars.$space-xxs;
      }
    }

    .mobile-transaction-item:not(:last-child) {
      border-bottom: 1px solid vars.$gray-100;
    }

    .mobile-transaction-item:first-child {
      padding-top: 0;
    }

    .mobile-transaction-item:last-child {
      padding-bottom: 0;
    }
  }
}