@use '../../assets/styles/variables' as vars;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  padding: vars.$space-md;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-content {
  padding: vars.$space-lg vars.$space-md-plus;
  background-color: vars.$white;
  border-radius: 12px;
  max-width: 100%;
  width: 560px;
  animation: slideInUp 0.3s ease-out;

  @media (min-width: 880px) {
    padding: vars.$space-xl;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: vars.$space-md-plus;

  .modal-close-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

.modal-title {
  color: vars.$gray-900;
  font-size: 1.25rem;
  max-width: 200px;

  @media (min-width: 520px) {
    max-width: none;
  }

  @media (min-width: 880px) {
    font-size: 2rem;
  }
}

.modal-body {
  .dropdown-options-list {
    max-height: 150px;

    @media (min-width: 880px) {
      max-height: 200px;
    }
  }
}

.modal-description {
  color: vars.$gray-500;
}

.modal-form-error {
  color: vars.$red;
}

.budget-edit-modal,
.budget-add-modal,
.pot-edit-modal,
.pot-add-modal {
  .modal-body {
    form {
      display: flex;
      flex-direction: column;
      gap: vars.$space-md;

      .modal-description {
        margin-bottom: vars.$space-xxs;
      }

      .modal-form-submit {
        margin-top: vars.$space-xxs;
      }
    }
  }
}

.delete-modal {
  .modal-body {
    form {
      .modal-description {
        margin-bottom: vars.$space-md-plus;
      }

      .action-buttons {
        display: flex;
        flex-direction: column;
        gap: vars.$space-md-plus;

        button:nth-of-type(2) {
          width: fit-content;
          margin: 0 auto;
          background-color: transparent;
          border: 0;
          color: vars.$gray-500;
          cursor: pointer;
        }
      }
    }

  }
}


.pot-add-money-modal,
.pot-withdraw-money-modal {
  form {
    display: flex;
    flex-direction: column;
    gap: vars.$space-md-plus;
  }

  .pot-money-modal__amount {
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: vars.$space-md;

      span:nth-of-type(1) {
        color: vars.$gray-500;
      }

      span:nth-of-type(2) {
        color: vars.$gray-900;
      }
    }

    &--bar {
      background-color: vars.$beige-100;
      width: 100%;
      border-radius: 4px;
      height: 8px;
      margin-bottom: 13px;
    }

    &--progress {
      border-radius: 4px;
      height: 100%;
    }

    &--target {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:nth-of-type(2) {
        color: vars.$gray-500;
      }
    }
  }
}

.pot-withdraw-money-modal {
  .pot-money-modal__amount {
    &--target {
      span:nth-of-type(1) {
        color: vars.$red;
      }
    }

    &--bar {
      &-new,
      &-current {
        border-radius: 4px;
        height: 100%;
      }

      &-new {
        background-color: vars.$gray-900;
      }

      &-current {
        background-color: vars.$red;
      }
    }
  }
}

.pot-add-money-modal {
  .pot-money-modal__amount {
    &--target {
      span:nth-of-type(1) {
        color: vars.$green;
      }
    }

    &--bar {
      &-new,
      &-current {
        border-radius: 4px;
        height: 100%;
      }

      &-new {
        background-color: vars.$green;
      }

      &-current {
        background-color: vars.$gray-900;
      }
    }
  }
}



