// Colors
$beige-100: #F8F4F0;
$beige-500: #98908B;

$gray-100: #F2F2F2;
$gray-300: #B3B3B3;
$gray-500: #696868;
$gray-900: #201F24;

$purple-300: #826CB0;
$purple-500: #AF81BA;

$green: #277C78;
$yellow: #F2CDAC;
$cyan: #82C9D7;
$navy: #626070;
$red: #C94736;
$turquoise: #597C7C;
$brown: #93674F;
$magenta: #934F6F;
$blue: #3F82B2;
$navy-grey: #97A0AC;
$army-green: #7F9161;
$gold: #CAB361;
$orange: #BE6C49;
$white: #ffffff;

// Spacing
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-2xl: 2.5rem;

// Typography
$font-sans: 'Public Sans', sans-serif;

// Preset 1 – Public Sans Bold • 32px • 120% LH
$text-1-size: 2rem;
$text-1-line-height: 1.2;
$text-1-weight: 700;

// Preset 2 – Public Sans Bold • 20px • 120% LH
$text-2-size: 1.25rem;
$text-2-line-height: 1.2;
$text-2-weight: 700;

// Preset 3 – Public Sans Bold • 16px • 150% LH
$text-3-size: 1rem;
$text-3-line-height: 1.5;
$text-3-weight: 700;

// Preset 4 – Public Sans Regular • 14px • 150% LH
$text-4-size: 0.875rem;
$text-4-line-height: 1.5;
$text-4-weight: 400;

// Preset 4 Bold – same as Preset 4 but bold
$text-4b-weight: 700;

// Preset 5 – Public Sans Regular • 12px • 150% LH
$text-5-size: 0.75rem;
$text-5-line-height: 1.5;
$text-5-weight: 400;

// Preset 5 Bold – same as Preset 5 but bold
$text-5b-weight: 700;








